{% extends "navbar.html" %}
{% block content %}
    <section style="background-color: #eee;">
        <div class="d-flex justify-content-center flex-column align-items-center"style="height:90vh">
            {% if find_user %}
                <h1>Hello {{find_user.name}}</h1>
            {% endif %}
            <h1>Welcome to Flask News App</h1>
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark"><a href="/news" style="text-decoration: none; list-style: none;">Get my News</a></button>
        </div>
    </section>
{% endblock %}